* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #cbc5ae; }

#home-landing-container {
  background-color: #cbc5ae;
  height: 35vh;
  position: relative; }

#hero-banner {
  position: fixed;
  padding: 5rem 5rem; }

#hero-text h1 {
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0; }

#hero-subtext h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem; }

#border-wrapper {
  height: 75vh;
  position: relative; }

#header-border-bottom-scroll {
  background-color: #c8583e;
  position: absolute;
  bottom: -16rem;
  right: 0;
  height: 85vh;
  width: 100vw;
  transform: skewY(-20deg); }

.rounded-square {
  position: absolute;
  bottom: 4rem; }

.rounded-square::before {
  content: url("/media/roundedPrimarySquare.svg"); }

#about {
  background-color: #c8583e;
  height: 100vh; }
